{% load static %}
<!-- Favicon icon-->
<link rel="icon" type="image/jpeg" href="{% static 'images/logos/icon.jpeg' %}" />
<link rel="apple-touch-icon" href="{% static 'images/logos/icon.jpeg' %}" />

<meta name="theme-color" content="#ffffff" />
<style>
  .th-logo-dark { display: none; }
  html[data-bs-theme="dark"] .th-logo-light { display: none; }
  html[data-bs-theme="dark"] .th-logo-dark { display: block; }
</style>
<!-- Color modes -->
<script src="{% static 'dashboard/assets/js/vendors/color-modes.js' %}"></script>
<script>
  if (localStorage.getItem('sidebarExpanded') === 'false') {
    document.documentElement.classList.add('collapsed');
    document.documentElement.classList.remove('expanded');
  } else {
    document.documentElement.classList.remove('collapsed');
    document.documentElement.classList.add('expanded');
  }
</script>
<!-- Libs CSS -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800&display=swap" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@6.2.0/dist/simplebar.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.47.0/tabler-icons.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />

<!-- Theme CSS -->
<!-- build:css {% static 'dashboard/assets/css/theme.min.css' %} -->
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static 'dashboard/assets/css/theme.rtl.css' %}" />
{% else %}
<link rel="stylesheet" href="{% static 'dashboard/assets/css/theme.css' %}" />
{% endif %}
<!-- endbuild -->
